USE [MES_Master]
GO
/****** Object:  User [wms_app]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE USER [wms_app] FOR LOGIN [wms_app] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [AppExecutor]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE ROLE [AppExecutor]
GO
ALTER ROLE [AppExecutor] ADD MEMBER [wms_app]
GO
ALTER ROLE [db_datareader] ADD MEMBER [wms_app]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [wms_app]
GO
/****** Object:  Schema [MES]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE SCHEMA [MES]
GO
/****** Object:  Synonym [dbo].[Legacy_BOMList]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE SYNONYM [dbo].[Legacy_BOMList] FOR [WMSJJPV].[dbo].[BOMList]
GO
/****** Object:  Synonym [dbo].[Legacy_Customer]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE SYNONYM [dbo].[Legacy_Customer] FOR [WMSJJPV].[dbo].[Customer]
GO
/****** Object:  Synonym [dbo].[Legacy_ProductInfo]    Script Date: 09/02/2025 9:38:42 AM ******/
CREATE SYNONYM [dbo].[Legacy_ProductInfo] FOR [WMSJJPV].[dbo].[ProductInfo]
GO
/****** Object:  Table [MES].[Users]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](254) NOT NULL,
	[DisplayName] [nvarchar](120) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MES].[Modules]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleKey] [varchar](60) NOT NULL,
	[DisplayName] [nvarchar](120) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Modules_ModuleKey] UNIQUE NONCLUSTERED 
(
	[ModuleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MES].[UserModules]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[UserModules](
	[UserId] [bigint] NOT NULL,
	[ModuleId] [int] NOT NULL,
	[GrantedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserModules] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [MES].[v_UserModules]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4) View for quick checks */
CREATE   VIEW [MES].[v_UserModules] AS
SELECT um.UserId, m.ModuleKey
FROM MES.UserModules um
JOIN MES.Modules m ON m.ModuleId = um.ModuleId
JOIN MES.Users  u ON u.UserId   = um.UserId
WHERE u.IsActive = 1 AND m.IsEnabled = 1;

GO
/****** Object:  Table [dbo].[BOMList]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMList](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[FG_SAP_No] [nvarchar](64) NOT NULL,
	[Comp_Sap] [nvarchar](64) NOT NULL,
	[SAP_FG_Description] [nvarchar](300) NULL,
	[FG_UOM] [nvarchar](16) NULL,
	[Comp_Description] [nvarchar](300) NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[Comp_UOM] [nvarchar](16) NULL,
	[Status] [nvarchar](50) NULL,
	[WhoCreated] [nvarchar](128) NULL,
	[DateDataCreated] [datetime2](3) NULL,
	[WhoEdited] [nvarchar](128) NULL,
	[DateDataEdited] [datetime2](3) NULL,
	[WhoDeleted] [nvarchar](128) NULL,
	[DateDataDelete] [datetime2](3) NULL,
	[WhoUnDelete] [nvarchar](128) NULL,
	[DateDataUnDelete] [datetime2](3) NULL,
 CONSTRAINT [PK_BOMList_Natural] PRIMARY KEY CLUSTERED 
(
	[FG_SAP_No] ASC,
	[Comp_Sap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BOMList_BID] UNIQUE NONCLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerSap] [nvarchar](64) NOT NULL,
	[CustomerName] [nvarchar](200) NOT NULL,
	[Customer_Address] [nvarchar](500) NULL,
	[Label_Format] [nvarchar](32) NULL,
	[Status] [nvarchar](50) NULL,
	[WhoCreated] [nvarchar](128) NULL,
	[DateDataCreated] [datetime2](3) NULL,
	[WhoEdited] [nvarchar](128) NULL,
	[DateDataEdited] [datetime2](3) NULL,
	[WhoDeleted] [nvarchar](128) NULL,
	[DateDataDelete] [datetime2](3) NULL,
	[WhoUnDelete] [nvarchar](128) NULL,
	[DateDataUnDelete] [datetime2](3) NULL,
	[Supplier_Name] [nvarchar](200) NULL,
	[Supplier_Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_Customer_Natural] PRIMARY KEY CLUSTERED 
(
	[CustomerSap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_CId] UNIQUE NONCLUSTERED 
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLabelFormat]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLabelFormat](
	[CustomerSap] [nvarchar](64) NOT NULL,
	[FormatCode] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_CustomerLabelFormat] PRIMARY KEY CLUSTERED 
(
	[CustomerSap] ASC,
	[FormatCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LabelFormat]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelFormat](
	[FormatCode] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormatCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCustomer]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCustomer](
	[FG_SAP_No] [nvarchar](64) NOT NULL,
	[CustomerSap] [nvarchar](64) NOT NULL,
	[Label_Format] [nvarchar](32) NULL,
 CONSTRAINT [PK_ProductCustomer] PRIMARY KEY CLUSTERED 
(
	[FG_SAP_No] ASC,
	[CustomerSap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInfo]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfo](
	[FG_Id] [int] IDENTITY(1,1) NOT NULL,
	[FG_SAP_No] [nvarchar](64) NOT NULL,
	[SAP_FG_Description] [nvarchar](300) NULL,
	[Customer_Sap] [nvarchar](64) NULL,
	[Customer_Name] [nvarchar](200) NULL,
	[Customer_Address] [nvarchar](500) NULL,
	[Product_No] [nvarchar](64) NULL,
	[Product_Name] [nvarchar](200) NULL,
	[Supplier_Name] [nvarchar](200) NULL,
	[Supplier_Address] [nvarchar](500) NULL,
	[Model] [nvarchar](100) NULL,
	[Drawing_Rev] [nvarchar](50) NULL,
	[CO] [nvarchar](100) NULL,
	[Importer] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[Cavity] [nvarchar](50) NULL,
	[JJ_Code] [nvarchar](50) NULL,
	[Die_Line] [nvarchar](50) NULL,
	[Qty_Per_Packing] [decimal](18, 4) NULL,
	[UOM] [nvarchar](16) NULL,
	[Min_Qty] [decimal](18, 4) NULL,
	[Max_Qty] [decimal](18, 4) NULL,
	[Default_Storage_Location] [nvarchar](32) NULL,
	[Division] [nvarchar](16) NULL,
	[Label_Format] [nvarchar](32) NULL,
	[Status] [nvarchar](50) NULL,
	[BomNeeded] [bit] NULL,
	[Default] [bit] NULL,
	[BrotherSloc] [nvarchar](32) NULL,
	[QtyPerPallet] [decimal](18, 4) NULL,
	[StatusWMSF1OrF2] [nvarchar](50) NULL,
	[WhoCreated] [nvarchar](128) NULL,
	[DateDataCreated] [datetime2](3) NULL,
	[WhoEdited] [nvarchar](128) NULL,
	[DateDataEdited] [datetime2](3) NULL,
	[WhoDeleted] [nvarchar](128) NULL,
	[DateDataDelete] [datetime2](3) NULL,
	[WhoUnDelete] [nvarchar](128) NULL,
	[DateDataUnDelete] [datetime2](3) NULL,
 CONSTRAINT [PK_ProductInfo_Natural] PRIMARY KEY CLUSTERED 
(
	[FG_SAP_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ProductInfo_FG_Id] UNIQUE NONCLUSTERED 
(
	[FG_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MES].[ModuleFeatures]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[ModuleFeatures](
	[FeatureId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[FeatureKey] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](120) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MES].[UserCredentials]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[UserCredentials](
	[UserId] [bigint] NOT NULL,
	[PasswordHash] [varbinary](128) NOT NULL,
	[PasswordSalt] [varbinary](64) NOT NULL,
	[PasswordAlgo] [varchar](20) NOT NULL,
	[PasswordIter] [int] NOT NULL,
	[PasswordUpdatedUtc] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [MES].[UserFeatures]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MES].[UserFeatures](
	[UserId] [bigint] NOT NULL,
	[FeatureId] [int] NOT NULL,
	[GrantedAtUtc] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [MES].[ModuleFeatures] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [MES].[Modules] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [MES].[Modules] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [MES].[UserCredentials] ADD  DEFAULT (sysutcdatetime()) FOR [PasswordUpdatedUtc]
GO
ALTER TABLE [MES].[UserFeatures] ADD  DEFAULT (sysutcdatetime()) FOR [GrantedAtUtc]
GO
ALTER TABLE [MES].[UserModules] ADD  DEFAULT (sysutcdatetime()) FOR [GrantedAtUtc]
GO
ALTER TABLE [MES].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [MES].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [dbo].[BOMList]  WITH CHECK ADD  CONSTRAINT [FK_BOMList_ProductInfo] FOREIGN KEY([FG_SAP_No])
REFERENCES [dbo].[ProductInfo] ([FG_SAP_No])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOMList] CHECK CONSTRAINT [FK_BOMList_ProductInfo]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_LabelFormat] FOREIGN KEY([Label_Format])
REFERENCES [dbo].[LabelFormat] ([FormatCode])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_LabelFormat]
GO
ALTER TABLE [dbo].[CustomerLabelFormat]  WITH CHECK ADD  CONSTRAINT [FK_CLF_Customer] FOREIGN KEY([CustomerSap])
REFERENCES [dbo].[Customer] ([CustomerSap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerLabelFormat] CHECK CONSTRAINT [FK_CLF_Customer]
GO
ALTER TABLE [dbo].[CustomerLabelFormat]  WITH CHECK ADD  CONSTRAINT [FK_CLF_LabelFormat] FOREIGN KEY([FormatCode])
REFERENCES [dbo].[LabelFormat] ([FormatCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerLabelFormat] CHECK CONSTRAINT [FK_CLF_LabelFormat]
GO
ALTER TABLE [dbo].[ProductCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProductCustomer_Customer] FOREIGN KEY([CustomerSap])
REFERENCES [dbo].[Customer] ([CustomerSap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCustomer] CHECK CONSTRAINT [FK_ProductCustomer_Customer]
GO
ALTER TABLE [dbo].[ProductCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProductCustomer_LabelFormat] FOREIGN KEY([Label_Format])
REFERENCES [dbo].[LabelFormat] ([FormatCode])
GO
ALTER TABLE [dbo].[ProductCustomer] CHECK CONSTRAINT [FK_ProductCustomer_LabelFormat]
GO
ALTER TABLE [dbo].[ProductCustomer]  WITH CHECK ADD  CONSTRAINT [FK_ProductCustomer_ProductInfo] FOREIGN KEY([FG_SAP_No])
REFERENCES [dbo].[ProductInfo] ([FG_SAP_No])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCustomer] CHECK CONSTRAINT [FK_ProductCustomer_ProductInfo]
GO
ALTER TABLE [MES].[ModuleFeatures]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [MES].[Modules] ([ModuleId])
GO
ALTER TABLE [MES].[UserCredentials]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [MES].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [MES].[UserFeatures]  WITH CHECK ADD FOREIGN KEY([FeatureId])
REFERENCES [MES].[ModuleFeatures] ([FeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [MES].[UserFeatures]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [MES].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [MES].[UserModules]  WITH CHECK ADD FOREIGN KEY([ModuleId])
REFERENCES [MES].[Modules] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [MES].[UserModules]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [MES].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [MES].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email] CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [MES].[Users] CHECK CONSTRAINT [CK_Users_Email]
GO
/****** Object:  StoredProcedure [MES].[sp_CreateModule]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 5) Helper procedures */
-- Add (or no-op) a module
CREATE   PROCEDURE [MES].[sp_CreateModule]
  @ModuleKey   VARCHAR(60),
  @DisplayName NVARCHAR(120)
AS
BEGIN
  SET NOCOUNT ON;
  IF NOT EXISTS (SELECT 1 FROM MES.Modules WHERE ModuleKey=@ModuleKey)
    INSERT INTO MES.Modules (ModuleKey, DisplayName) VALUES (@ModuleKey, @DisplayName);
END;

GO
/****** Object:  StoredProcedure [MES].[sp_LoginUser]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [MES].[sp_LoginUser]
  @Username NVARCHAR(50),
  @PlainPassword NVARCHAR(128)
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @UserId BIGINT,
          @Hash VARBINARY(128),
          @Salt VARBINARY(64),
          @Algo VARCHAR(20),
          @Iter INT,
          @DisplayName NVARCHAR(120);

  SELECT @UserId = U.UserId,
         @Hash = C.PasswordHash,
         @Salt = C.PasswordSalt,
         @Algo = C.PasswordAlgo,
         @Iter = C.PasswordIter,
         @DisplayName = U.DisplayName
  FROM MES.Users U
  JOIN MES.UserCredentials C ON U.UserId = C.UserId
  WHERE U.Username = @Username AND U.IsActive = 1;

  IF @UserId IS NULL
  BEGIN
    SELECT CAST(0 AS BIT) AS IsExist, NULL AS UserId, NULL AS DisplayName;
    RETURN;
  END

  -- result set 1: user info
  SELECT CAST(1 AS BIT) AS IsExist,
         @UserId AS UserId,
         @DisplayName AS DisplayName,
         @Hash AS PasswordHash,
         @Salt AS PasswordSalt,
         @Algo AS PasswordAlgo,
         @Iter AS PasswordIter;

  -- result set 2: modules
  SELECT m.ModuleKey
  FROM MES.v_UserModules m
  WHERE m.UserId = @UserId;
END

GO
/****** Object:  StoredProcedure [MES].[sp_RevokeModuleFromUser]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Revoke a module from a user (optional)
CREATE   PROCEDURE [MES].[sp_RevokeModuleFromUser]
  @ModuleKey VARCHAR(60),
  @Username  VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;
  DELETE um
  FROM MES.UserModules um
  JOIN MES.Users   u ON u.UserId = um.UserId   AND u.Username = @Username
  JOIN MES.Modules m ON m.ModuleId = um.ModuleId AND m.ModuleKey = @ModuleKey;
END;

GO
/****** Object:  StoredProcedure [MES].[sp_UserMaster]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [MES].[sp_UserMaster]
    @Action NVARCHAR(20),
    @UserId INT = 0,
    @Username NVARCHAR(50) = NULL,
    @Email NVARCHAR(254) = NULL,
    @DisplayName NVARCHAR(120) = NULL,
    @PlainPassword NVARCHAR(128) = NULL,
    @IsActive BIT = 1,
    @Features NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @Action = 'GetFeatures'
    BEGIN
        SELECT FeatureId, DisplayName
        FROM MES.ModuleFeatures
        WHERE IsEnabled = 1
        ORDER BY DisplayName;
        RETURN;
    END

    IF @Action = 'GetAll'
    BEGIN
        SELECT U.UserId, U.Username, U.Email, U.DisplayName, U.IsActive,
               STRING_AGG(F.DisplayName, ', ') AS Features
        FROM MES.Users U
        LEFT JOIN MES.UserFeatures UF ON U.UserId = UF.UserId
        LEFT JOIN MES.ModuleFeatures F ON UF.FeatureId = F.FeatureId where IsActive=1
        GROUP BY U.UserId, U.Username, U.Email, U.DisplayName, U.IsActive;
        RETURN;
    END

    IF @Action = 'GetById'
    BEGIN
        SELECT U.UserId, U.Username, U.Email, U.DisplayName, U.IsActive,
               STRING_AGG(F.FeatureId, ',') AS FeatureIds
        FROM MES.Users U
        LEFT JOIN MES.UserFeatures UF ON U.UserId = UF.UserId
        LEFT JOIN MES.ModuleFeatures F ON UF.FeatureId = F.FeatureId
        WHERE U.UserId = @UserId
        GROUP BY U.UserId, U.Username, U.Email, U.DisplayName, U.IsActive;
        RETURN;
    END
 IF @Action = 'GetDeleted'
BEGIN
    SELECT 
        U.UserId, U.Username, U.Email, U.DisplayName,
        -- if you don’t have a DeletedAtUtc column, reuse UpdatedAtUtc set during Delete
        CONVERT(varchar(19), U.UpdatedAtUtc, 120) AS DeletedOn
    FROM MES.Users U
    WHERE U.IsActive = 0
    ORDER BY U.UpdatedAtUtc DESC;
    RETURN;
END

-- undo (reactivate)
 IF @Action = 'Undo'
BEGIN
    UPDATE MES.Users
    SET IsActive = 1, UpdatedAtUtc = SYSUTCDATETIME()
    WHERE UserId = @UserId;
    RETURN;
END
    IF @Action = 'Save'
    BEGIN
        BEGIN TRY
            BEGIN TRAN;

            IF @UserId = 0
            BEGIN
                -- email uniqueness for INSERT
                IF EXISTS (SELECT 1 FROM MES.Users WHERE Email = @Email)
                    THROW 50001, 'Email already exists.', 1;

                INSERT INTO MES.Users (Username, Email, DisplayName, IsActive, CreatedAtUtc, UpdatedAtUtc)
                VALUES (@Username, @Email, @DisplayName, @IsActive, SYSUTCDATETIME(), SYSUTCDATETIME());

                SET @UserId = SCOPE_IDENTITY();

                IF @PlainPassword IS NOT NULL AND LEN(@PlainPassword) > 0
                BEGIN
                    DECLARE @Salt VARBINARY(64) = CAST(CRYPT_GEN_RANDOM(32) AS VARBINARY(64));
                    DECLARE @Hash VARBINARY(128) = HASHBYTES('SHA2_256', @Salt + CAST(@PlainPassword AS VARBINARY(256)));

                    INSERT INTO MES.UserCredentials (UserId, PasswordHash, PasswordSalt, PasswordAlgo, PasswordIter, PasswordUpdatedUtc)
                    VALUES (@UserId, @Hash, @Salt, 'SHA2_256', 1, SYSUTCDATETIME());
                END
            END
            ELSE
            BEGIN
                -- email uniqueness for UPDATE (ignore self)
                IF EXISTS (SELECT 1 FROM MES.Users WHERE Email = @Email AND UserId <> @UserId)
                    THROW 50002, 'Email already exists for another user.', 1;

                UPDATE MES.Users
                SET Username   = @Username,
                    Email      = @Email,
                    DisplayName= @DisplayName,
                    IsActive   = @IsActive,
                    UpdatedAtUtc = SYSUTCDATETIME()
                WHERE UserId = @UserId;

                -- update password only if provided
                IF @PlainPassword IS NOT NULL AND LEN(@PlainPassword) > 0
                BEGIN
                    DECLARE @SaltU VARBINARY(64) = CAST(CRYPT_GEN_RANDOM(32) AS VARBINARY(64));
                    DECLARE @HashU VARBINARY(128) = HASHBYTES('SHA2_256', @SaltU + CAST(@PlainPassword AS VARBINARY(256)));

                    MERGE MES.UserCredentials AS T
                    USING (SELECT @UserId AS UserId) S ON T.UserId = S.UserId
                    WHEN MATCHED THEN
                        UPDATE SET PasswordHash=@HashU, PasswordSalt=@SaltU, PasswordAlgo='SHA2_256', PasswordIter=1, PasswordUpdatedUtc=SYSUTCDATETIME()
                    WHEN NOT MATCHED THEN
                        INSERT (UserId, PasswordHash, PasswordSalt, PasswordAlgo, PasswordIter, PasswordUpdatedUtc)
                        VALUES (@UserId, @HashU, @SaltU, 'SHA2_256', 1, SYSUTCDATETIME());
                END
            END

            -- (Re)assign features only after we have a valid @UserId
            DELETE FROM MES.UserFeatures WHERE UserId = @UserId;

            IF @Features IS NOT NULL AND LEN(@Features) > 0
            BEGIN
                DECLARE @xml XML = CAST('<i>' + REPLACE(@Features, ',', '</i><i>') + '</i>' AS XML);
                INSERT INTO MES.UserFeatures (UserId, FeatureId, GrantedAtUtc)
                SELECT @UserId, CAST(x.i.value('.', 'INT') AS INT), SYSUTCDATETIME()
                FROM @xml.nodes('/i') x(i);
            END

            COMMIT;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0 ROLLBACK;
            THROW;
        END CATCH;

        RETURN;
    END

    IF @Action = 'Delete'
    BEGIN
        UPDATE MES.Users SET IsActive = 0, UpdatedAtUtc = SYSUTCDATETIME() WHERE UserId = @UserId;
        RETURN;
    END
END

GO
/****** Object:  StoredProcedure [MES].[usp_HasModule]    Script Date: 09/02/2025 9:38:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cross-DB friendly check with OUTPUT parameter
CREATE   PROCEDURE [MES].[usp_HasModule]
  @UserId    BIGINT,
  @ModuleKey VARCHAR(60),
  @HasAccess BIT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  IF EXISTS (SELECT 1 FROM MES.v_UserModules WHERE UserId=@UserId AND ModuleKey=@ModuleKey)
    SET @HasAccess = 1;
  ELSE
    SET @HasAccess = 0;
END;

GO
